<h1>Blog#edit</h1>

<%= form_for :blog do |f| %>
  Name: <%= f.text_field :user_name %><br />
  Title : <%= f.text_field :title %><br />
  Country : <%= f.text_field :country %><br />
  City : <%= f.text_field :city %><br />
  Place : <%= f.text_field :place %><br />
  Article : <%= f.text_area :article %><br />
  Photo_url : <%= f.text_field :photo_url %><br />
  Date Traveled : <%= f.text_field :date_traveled %><br />
  Admin?    : <%= f.check_box :admin %><br />
  <%= f.submit %>
<% end %>
