<div class="index-box">
  <h1>Articles</h1>

  <ul>
    <% @blogs.each do |blog| %>
      <li class="name"><a href="/blogs/<%= blog.id %>">
        <%= blog.user_name %></a></li>
      <li class="title"><%= blog.title %></li>
      <li class="date"><%= blog.date_traveled %></li>
      <li class="article"><%= blog.article %></li>

  <% end %>
</ul>
</div>
