<h1><%=@blog.user_name%></h1>

<ul>
    <li> <%= @blog.user_name %></li>
    <li class="date"> <%= @blog.date_traveled %></li>
    <li class="article"> <%= @blog.article %></li>
    <li><img class='blog-photo' src="<%= @blog.photo_url %>"></li>
</ul>

<div>
  <ul>
    <% @blog.comments.each do |comments| %>
    <li> <%= @blog.comments.name %></li>
    <li> <%= @blog.comments.user_comments %></li>
    <% end %>
  </ul>
  <p>
    <%= link_to "Click here to comment", comments_new_path%>
  </p>
</div>
