<!DOCTYPE html>
<html>
  <head>
    <title>TravelBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Lobster|Lustria|Pacifico|Quicksand" rel="stylesheet">
  </head>

  <body>
    <div>
      <h1 class="layout">Travel Logs</h1>
    </div>
    <div class="nav">
      <ul class="navigation">
        <li><%= link_to "Home", blogs_path%></li>
        <li><%= link_to "Destinations", blogs_countries_path%>
        <li><%= link_to "Create New Blog", new_blog_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
